* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgb(79, 161, 224);
}
.multiple-choice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 30, 53, 0.866);
    color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
}
.question-wrapper {
    margin-right: 4.5rem;
}
.question-items {
    list-style: none;
}
.question-items li {
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    margin: 1rem 0;
    border-radius: 10px;
    border: 3px solid rgba(8, 116, 198, 0.505);
}
.question-items li:hover {
    transition: all linear;
    border: 3px solid rgba(86, 182, 255, 0.795);
}
.question-wrapper span {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.text-question {
    text-align: center;
    margin-top: 3rem;
}
